<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['']">
    <img src="\assets\gabontv.png" alt="" width="30" height="24" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" *ngIf="authenticated">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']"
          >Accueil <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/commercial']">Commercial</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/search']">Ressource</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']">Achat</a>
      </li>
     
    </ul>
  </div>
  <div class="float-right">
    <ul class="navbar-nav" *ngIf="!authenticated">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/login']">login</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/register']">register</a>
      </li>
    </ul>
  </div>
  <div class="float-right">
    <ul class="navbar-nav" *ngIf="authenticated">
      <li class="nav-item" routerLinkActive="active">
       
        <button class="btn btn-outline-secondary" (click)="logout()">
          logout
        </button>
      </li>
    </ul>
  </div>
</nav> -->
 <!-- Navbar -->
<app-nav></app-nav>
<div class="content-wrapper mt-5">
  <router-outlet></router-outlet>
</div>
 

