<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Gestion des commandes</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="'/'">Dashbord</a></li>
                    <li class="breadcrumb-item active">Nouvelle commande</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mt-3">
                
                <form [formGroup]="editForm2">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">Enregistrer une nouvelle commande</h3>

                            <div class="card-tools">
                                <button title="reduire" type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>

                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="produit">
                                            Produit<span class="text-danger">*</span></label>
                                        <select id="produit" class="form-control" formControlName="produit" >
                                            <option selected="selected" value="">---</option>
                                            <ng-container *ngIf="products">
                                                <option [ngValue]="c" *ngFor="let c of products" >
                                                    {{ c.name }}
                                                </option>
                                            </ng-container>
                                        </select>
                                        
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputFile">Heure de début<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                          
                                            <input type="time" class="form-control" id="hdd" formControlName="heure_debut"
                                             placeholder="Heure de début"/>
                                            
                                        </div>
                                    </div>                                  
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputFile">Durée<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                          
                                            <input type="text" class="form-control" id="qte" formControlName="duree"
                                             placeholder="Durée de l'émission"/>
                                            
                                        </div>
                                    </div>                                                  
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Description</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="descriptif">
                                        </textarea>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div [formGroup]="myGroup">
                                        <label for="exampleInputFile">Fréquence<span class="text-danger">*</span></label>
                                        <ng-multiselect-dropdown [placeholder]="'Jours de diffusion'" [settings]="dropdownSettings" [data]="dropdownList"
                                             (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" 
                                            formControlName="days">
                                        </ng-multiselect-dropdown>
                                    </div>
                                    <button class="btn btn-info float-right mt-2 mb-2" style="size:30%;" type="button" (click)="checked()">Ajouter au panier</button>                                  
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputFile">Date de début<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                          
                                            <input type="date" class="form-control" id="qte" formControlName="date_debut"
                                             placeholder="Date de début"/>
                                            
                                        </div>
                                    </div>                                                  
                                </div>

                                <!-- <div class="col-md-4 text-center mt-2">
                                    <button class="btn btn-info mt-4" type="button" (click)="checked()">Ajouter</button>
                                </div> -->
                            </div>
                            <div class="row">
                                <h4>Préciser les heures de diffusion:</h4>
                                <div class="form-group ml-1" [formGroup]="form">
                                    <ng-container formArrayName="lessons">
                                        <ng-container *ngFor="let lessonForm of lessons.controls; let i = index">
                                            <div class="form-group" formGroupName="lessonForm">
                                                <div class="input-group ml-1">
                                                    <input type="time" formControlName="title" placeholder="Heure de diffusion"
                                                    class="form-control">
                                                    <button class="btn btn-danger ml-1" (click)="deleteLesson(i)">
                                                        Supprimer</button>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </ng-container>              
                                    <button class="btn btn-primary ml-1" (click)="addLesson()">
                                        Ajouter
                                    </button>
                                </div>
                            </div>
                            
                            <div class="card">
                                <div class="card-body table-responsive p-0" style="height: 300px;">
                                    <table class="table table-head-fixed text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>Dénomination</th>
                                                <th>Date de début</th>
                                                <th>Durée en s</th>
                                                <th>Heure de début</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let slp of selectedProducts;">
                                                <td>{{slp.productName}}</td>
                                                <td>{{slp.date_debut | date:'dd-MM-yyyy'}}</td>
                                                <td>{{slp.duree}}</td>
                                                <td>{{slp.heure_debut}}</td>
                                                <td>
                                                    <button type="button" class="btn btn-info mr-1"
                                                        (click)="openModal(template, slp)">Modifier</button>
                                                    <button type="button" class="btn btn-primary" (click)="deleteCom(slp)">Supprimer</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <button class="btn btn-info float-right" style="size:30%;" type="button" (click)="saveCom()">
                                Enregistrer
                            </button>
                        </div>

                        <ng-template #template></ng-template>

                        <!-- /.card-body -->
                        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>