<!-- <ul class="nav nav-tabs flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul> -->

<!-- Vertical navbar -->
<div class="container">
  <div class="vertical-nav bg-white" id="sidebar">
    <p class="text-gray font-weight-bold text-uppercase px-4 big pb-4 mt-1">
      Rubriques
    </p>

    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic bg-light">
          <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
          Liste des clients
        </a>
      </li>
      <li class="nav-item">
        <!-- <a [routerLink]="['/products']" class="nav-link text-dark font-italic">
          <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
          Liste des produits
        </a> -->
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic">
          <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
          Etablir un bon d'entrée de caisse
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic">
          <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
          Etablir un facture
        </a>
      </li>
    </ul>
  </div>
  <!-- End vertical navbar -->
  <!-- <router-outlet></router-outlet> -->
</div>
