<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h1 class="card-title">Liste des employés</h1>
                    <a class="btn btn-info float-right" type="button" [routerLink]="['/rh/personals']">Nouveau</a>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table class="table table-bordered">
                      <thead>
                        <tr class="bg-dark text-white">
                          <th scope="col">#</th>
                          <th scope="col">Nom</th>
                          <th scope="col">Prénom</th>
                          <th scope="col">Téléphone</th>
                          <th scope="col">Email</th>
                          <th scope="col">Status</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngIf="personals && personals.length">
                          <tr *ngFor="let p of personals; let i = index">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ p.lastname }}</td> 
                            <td>{{ p.firstname }}</td> 
                            <td>{{ p.phone }}</td> 
                            <td>{{ p.email }}</td> 
                            <td><span class="badge" [ngClass]="personal.getStatus(p.status)?.class">{{personal.getStatus(p.status)?.value}}</span> </td> 
                           
                            <td>
                             actions
                            </td>
                          </tr>
                        </ng-container>
                        <ng-container *ngIf="!personals?.length">
                          <tr><td colspan="7" class=" text-center">Aucune données trouver</td></tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                      <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      
                      <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                    </ul>
                  </div>
                </div>
                <!-- /.card -->
    
               
                <!-- /.card -->
              </div>
        </div>
    </div>
</section>

<ngx-loading
[show]="loading"
[config]="{ backdropBorderRadius: '3px' }"
></ngx-loading>
