<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Gestion des congés</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="'/'">Dashbord</a></li>
          <li class="breadcrumb-item active">Gestion des congés</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<section class="content" *ngIf="!loading && workingDays">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">gestion des congés</div>
          <div class="card-body">
            <div class="row justify-content-start mb-4">
              <div class="col-8">
                <form class="form-inline">
                  <div class="form-group mb-2">
                    <select class="form-control">
                      <option>Employé</option>
                      <option>Employé</option>
                      <option>Employé</option>
                      <option>Employé</option>
                    </select>
                  </div>
                  <div class="form-group mx-sm-3 mb-2">
                    <select class="form-control">
                      <option>Département</option>
                      <option>Département</option>
                      <option>Département</option>
                      <option>Département</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary mb-2">
                    <i class="fa fa-search"></i> Rechercher
                  </button>
                </form>
              </div>
            </div>
            <hr />
            <div class="row justify-content-center">
              <div class="col-6">
                <div class="btn-group" role="group" aria-label=" basic holiday">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="prev()"
                    [disabled]="currentMonth === 1"
                  >
                    < Précedent
                  </button>
                  <button type="button" class="btn btn-default">
                    {{ getMonthString(currentMonth) | uppercase }}
                    {{ currentYear }}
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="next()"
                    [disabled]="currentMonth === 12"
                  >
                    Suivant >
                  </button>
                </div>
              </div>
            </div>

            <div class="row my-3" *ngIf="nombreDay && nombreDay.length">
              <div class="col-12">
                <table class="table table-bordered">
                  <thead>
                    <th>Nom & Prenmon</th>
                    <th *ngFor="let day of nombreDay; let i = index">
                      {{ nombreDay[i].key }}
                      <!-- {{ nombreDay[i].name }} -->
                    </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let u of users">
                      <td>{{ u.name }}</td>
                      <ng-container
                        *ngFor="let day of nombreDay; let i = index"
                      >
                        <td
                          [ngClass]="
                            getWorking(day.name).class +
                            ' ' +
                            getHoli(currentMonth, day.key).class
                          "
                          (click)="
                            getUser(
                              day.key,
                              u,
                              getHoli(currentMonth, day.key).isTrue,
                              getWorking(day.name).isTrue
                            )
                          "
                        ></td>
                      </ng-container>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-2">
                <span
                  class="badge badge-pill p-1"
                  style="background-color: rgb(92, 253, 100) !important"
                  >Jour ferié</span
                >
              </div>
              <div class="col-2">
                <span
                  class="badge badge-pill p-1"
                  style="background-color: rgb(253, 147, 147) !important"
                  >Jour non Ouvrable</span
                >
              </div>
              <div class="col-2">
                <span
                  class="badge badge-pill p-1"
                  style="background-color: aliceblue !important"
                  >Jour Ouvrable</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="modalLeave">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ajouter un congé ou une Absence</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-body">
        <form class="form-horizontal" [formGroup]="editForm">
          <div class="form-group row">
            <label for="du" class="col-form-label">
              Du <span class="text-danger">*</span>
            </label>
            <div class="col-sm-12">
              <input
                type="date"
                formControlName="to"
                class="form-control"
                id="du"
                [ngClass]="{ 'is-invalid': submitted && f.to.errors }"
              />
            </div>
            <div *ngIf="submitted && f.to.errors" class="invalid-feedback">
              <div *ngIf="f.to.errors.required">Champ requis</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="au" class="col-form-label">
              Au <span class="text-danger">*</span>
            </label>
            <div class="col-sm-12">
              <input
                type="date"
                formControlName="from"
                class="form-control"
                id="au"
                [ngClass]="{ 'is-invalid': submitted && f.from.errors }"
              />
            </div>
            <div *ngIf="submitted && f.from.errors" class="invalid-feedback">
              <div *ngIf="f.from.errors.required">Champ requis</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="employee" class="col-form-label">
              Employé <span class="text-danger">*</span>
            </label>
            <div class="col-sm-12">
              <input
                type="text"
                formControlName="name"
                class="form-control"
                id="employee"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="type" class="col-form-label">
              Type de congé <span class="text-danger">*</span>
            </label>
            <div class="col-sm-12">
              <select
                formControlName="type"
                class="form-control"
                id="type"
                [ngClass]="{ 'is-invalid': submitted && f.type.errors }"
              >
                <option [value]="''">---</option>
                <ng-container *ngIf="absences">
                  <option *ngFor="let a of absences" [value]="a.id">
                    {{ a.type }}
                  </option>
                </ng-container>
              </select>
            </div>
            <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
              <div *ngIf="f.type.errors.required">Champ requis</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="note" class="col-form-label"> Note </label>
            <div class="col-sm-12">
              <textarea
                rows="3"
                formControlName="note"
                class="form-control"
                id="note"
              ></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label for="status" class="col-form-label">
              Statut <span class="text-danger">*</span>
            </label>
            <div class="col-sm-12">
              <select
                [ngClass]="{ 'is-invalid': submitted && f.status.errors }"
                formControlName="status"
                class="form-control"
                id="status"
              >
                <option [value]="''">---</option>
                <option [value]="'pending'">En attente</option>
                <option [value]="'accepted'">Accepté</option>
                <option [value]="'refused'">Refusé</option>
              </select>
            </div>
            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
              <div *ngIf="f.status.errors.required">Champ requis</div>
            </div>
          </div>
          <button class="btn btn-block btn-primary" (click)="save()">
            Enregistrer
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
></ngx-loading>
