<section class="content" >
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div *ngFor="let cd of listCom" class="col-lg-3 col-6">
          <!-- small box -->
          
            <div class="small-box" [ngClass]="{
              'bg-info': cd.invoiced, 'bg-dark': cd.invoiced == 'false'
            }">
              <div class="inner" (click)="openModal2(template2, cd)">
                <h3>{{cd.id}}</h3>          
                <!-- <p>Commande non-evaluée</p>
                <p>Commande non-facturée</p> -->
                <p>{{cd.nomClient}}</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a (click)="openModal(template,cd)" class="small-box-footer">plus<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          
            <ng-template #template>
              <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Details de la commande</h3>
                </div>
                <div class="card-body">
                        <ul class="list-unstyled" *ngFor="let el of cd.appends?.commandesDetail">
                          
                          <li>Nom du produit: {{el.productName}}
                            <ul>
                              <li>Durée : {{el.duree}} minutes</li>
                              
                            </ul>
                          </li>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Entrer le montant</span>
                              </div>
                              <input type="text" class="form-control" placeholder="Montant en Fcfa" 
                              aria-describedby="basic-addon1" [formControl]="productPrice" (keyup)="onInputValue($event, el)">
                              <div class="input-group-append">
                                <button class="btn btn-info" type="button" (click)="valider(el)" id="button-addon2">Valider</button>
                              </div>
                          </div>
                          
                        </ul>
                        <button class="btn btn-info float-right" type="button" (click)="enregistrer(cd.appends?.commandesDetail, cd)">
                          Enregistrer
                      </button>
                </div>
              </div>
            </ng-template>

            <ng-template #template2>
              <form [formGroup]="myGroup">
                <div class="card card-default">
                  <div class="card-header">
                    <h3 for="timeSegment">Programmer une commande</h3>
                  </div>
                  <div class="card-body">
                    <div class="col-md-6">
                      
                        <label for="timeSegment">Voulez-vous programmer cette commande ?</label>
                        <button class="btn btn-danger text-center mr-1" type="button" (click)="inputChangeValue()">
                          Oui
                        </button>
                        <button class="btn btn-info text-center ml-1" type="button" (click)="inputChangeValue()">
                          Non
                        </button>
                    </div>

                    
                  </div>
                </div>
              </form>
            </ng-template>
        </div>
        
      </div>
      
    </div>
  </section>
  