<div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 padding" id="htmlData">
  <div class="card">
    <div class="card-header p-4">
      <div class="logo pt-2 d-inline-block">
        <img src="assets\image_gabonTele.jpg" alt="" class="img-fluid">
      </div>
      <div class="float-right">
        <h3 class="mb-0">Facture #{{invoice.id}}</h3>
        Date: {{invoice.created_at}}
      </div>
    </div>
    
      <div class="card-body">
        <div class="row mb-4">
          <div class="col-sm-6">
            <h5 class="mb-3">Destinataire: </h5>
            <h3 class="text-dark mb-1">{{invoice.client.prenom
              + ' ' + invoice.client.nom}}</h3>
            <div>{{invoice.client.adresse}}</div>
            <div>{{invoice.client.town}}</div>
            <div>{{invoice.client.email}}</div>
            <div>{{invoice.client.telephone}}</div>
          </div>
        </div>
        <div class="table-response-sm">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="center">#</th>
                <th class="center">Produit</th>
                <th class="center">Date de diffusion</th>
                <th class="center">Heure de diffusion</th>
                <th class="center">Durée</th>
                <th class="center">Reduction/produit</th>
                <th class="center">Rabais/produit</th>
                <th class="center">Prix</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of invoice.commandes_detail; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{product.productName}}</td>
                <td>{{product.date_debut}}</td>
                <td>{{product.heure_debut}}</td>
                <td>{{product.duree}}</td>
                <td>{{reducPro}}</td>
                <td>{{rabaisPro}}</td>
                <td>{{product.prix}}</td>
              </tr>
            </tbody>

          </table>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-5 ml-auto">
            <table class="table table-clear">
              <tbody>
                <tr>
                  <td class="left">
                    <strong class="text-dark">Montant Total</strong>
                  </td>
                  <td class="right">{{montantT}}</td>
                </tr>

                <tr>
                  <td class="left">
                    <strong class="text-dark">Rabais(20%)</strong>
                  </td>
                  <td class="right">{{rabaisT}}</td>
                </tr>

                <tr>
                  <td class="left">
                    <strong class="text-dark">TVA(18%)</strong>
                  </td>
                  <td class="right">{{tva}}</td>
                </tr>

                <tr>
                  <td class="left">
                    <strong class="text-dark">Total</strong>
                  </td>
                  <td class="right">{{totalN}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    
    <div class="card-footer bg-white">
      <p class="mb-0">Gabon Television, Libreville, Gabon</p>
    </div>
  </div>
</div>

<div style="text-align: center;">
  <button type="button" class="btn btn-primary mb-2" printTitle="Facture Gabon TV" printSectionId="htmlData"
    ngxPrint>Imprimer la facture</button>
</div>