<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="javascript:void()" class="h1"><b>GABON</b> TV</a>
    </div>
    <div class="card-body">
      <form [formGroup]="formGroup">
        <div class="input-group mb-3">
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input
            type="password"
            class="form-control"
            placeholder="Mot de passe"
            formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="icheck-primary">
              <input type="checkbox" id="remember" />
              <label for="remember"> Remember Me </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-6">
            <button
              type="button"
              (click)="loginProcess()"
              class="btn btn-primary btn-block"
            >
              Se Connecter
            </button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <p class="mb-1">
        <a href="forgot-password.html">Mot de passe oublié?</a>
      </p>
    </div>
  </div>
</div>

<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
></ngx-loading>
