

 <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>vehicules</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="'/'">Dashbord</a></li>
            <li class="breadcrumb-item active">vehicules</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">





      <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box shadow-lg">
            <span class="info-box-icon bg-info"><i class="fas fa-car"></i></span>

            <div class="info-box-content">
              <a  (click)="openVehicule()">
              <span class="info-box-text">VEHICULES</span>
              <span class="info-box-number">Créer un vehicule</span>
              </a>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box shadow-lg">
            <span class="info-box-icon bg-success">
              <!-- <i class="far fa-flag"></i> -->
              <i class="far fa-wrench"></i>
              <!-- <i class="fas fa-garage"></i> -->
            </span>

            <div class="info-box-content">
              <a  (click)="openPanne()">
              <span class="info-box-text">PANNES</span>
              <span class="info-box-number">Créer une panne</span>
              </a>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box shadow-lg">
            <span class="info-box-icon bg-warning">
              <!-- <i class="far fa-copy"></i> -->
              <i class="fas fa-gas-pump"></i>
            </span>

            <div class="info-box-content">
              <a  (click)="openEntretien()">
              <span class="info-box-text">ENTRETIEN</span>
              <span class="info-box-number">Créer un entretien</span>
              </a>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box shadow-lg">
            <span class="info-box-icon bg-dark"><i class="far fa-star"></i></span>

            <div class="info-box-content">
              <a  (click)="openTypeEntretien()">
              <span class="info-box-text">TYPE ENTRETIEN</span>
              <span class="info-box-number">Créer un entretien</span>
              </a>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>

     <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box shadow-lg">
            <span class="info-box-icon bg-gradient-primary"><i class="far fa-car-tilt"></i></span>

            <div class="info-box-content">
              <a (click)="openAssurance()">
              <span class="info-box-text">ASSURANCE</span>
              <span class="info-box-number">creer une assurance</span>
              </a>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box shadow-lg">
            <span class="info-box-icon bg-secondary"><i class="far fa-flag"></i></span>

            <div class="info-box-content">
              <a (click)="openFournisseur()">
              <span class="info-box-text">FOURNISSEUR</span>
              <span class="info-box-number">creer un fournisseur</span>
            </a>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box shadow-lg">
            <span class="info-box-icon bg-indigo"><i class="far fa-copy"></i></span>

            <div class="info-box-content">
              <a routerLink="openAssurance()">
              <span class="info-box-text">Shadows</span>
              <span class="info-box-number">Regular</span>
              </a>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box shadow-lg">
            <span class="info-box-icon bg-gray"><i class="far fa-star"></i></span>

            <div class="info-box-content">
              <a href="" >
              <span class="info-box-text">Shadows</span>
              <span class="info-box-number">Large</span>
              </a>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->






    <!-- ROW-4 -->
    <div class="row">
      <div class="col-12 col-sm-12">
        <div class="card">
          <div class="card-header">
            <div class="row no-print">
              <div class="col-12">
                <a href="invoice-print.html" rel="noopener" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                <button type="button" class="btn btn-default float-right"><i class="far fa-print"></i> Excel
                 
                </button>
                <button type="button" class="btn btn-default float-right" style="margin-right: 5px;">
                  <i class="fas fa-download"></i> Generate PDF
                </button>
              </div>
            </div>

            <button type="button" class="btn btn-primary btn-sm float-right" (click)="openModel()"  title="Ajouter un vehicule">
              <i class="fas fa-plus-circle size-18 "></i> ajouter
              </button>
          </div>
          <div class="card-body pt-4">
            <div class="grid-margin">
              <div class="">
                <div class="panel panel-primary">

                  <div
                    class="panel-body tabs-menu-body border-0 pt-0"
                  >
                    <div class="tab-content">
                      <div class="tab-pane active" id="tab5">
                        <div class="table-responsive">
                          <table

                            class="table table-bordered"
                          >
                            <thead >
                              <tr class="bg-dark text-white">
                                <th

                                >
                                   #
                                </th>
                                <th

                                >
                                libelle Vehicule
                                </th>
                                <th

                                >
                                numero Identifiant
                                </th>
                                <th

                                >
                                immatriculation
                                </th>
                                <th

                                >
                               Type Carburant
                                </th>
                                <th

                                >
                               Marque
                                </th>
                               
                               
                                <th

                                >
                                date Mise Circulation
                                </th>
                              
                                <th

                                >
                                  Action
                                </th>

                              </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="vehicules">
                                    <tr class="border-bottom" *ngFor="let v of vehicules; let i=index">
                                        <td class="text-center">

                                              {{v.id}}

                                        </td>
                                        <td>

                                                {{v.libelleVehicule}}

                                        </td>
                                        <td>

                                                {{v.numeroIdentifiant}}

                                        </td>
                                        <td>
                                         {{v.immatriculation}}
                                        </td>
                                        <td>
                                         {{v.carburant}}
                                        </td>
                                        <td>

                                             {{v.marque}}

                                        </td>
                                       
                                       
                                          <td>

                                              {{v.dateMiseCirculation}}

                                          </td>
                                          
                                        <td>
                                            <div class="g-2">
                                              <button (click)="show(v)"
                                            class="btn btn-success btn-sm mr-1"

                                            title="voire"
                                            ><span
                                              class="icofont-eye-open size-18 "
                                            ></span
                                          ></button>
                                                <button
                                                (click)="updateModal(v)"
                                                title="modifier"
                                                class="btn btn-primary btn-sm mr-1"
                                                type="button"

                                              >
                                                <i class="icofont-ui-edit size-18 "></i>
                                            </button>


                                              <button
                                              (click)="openModalConfirm(v?.id)"
                                                title="supprimer"
                                                type="button"
                                                class="btn btn-danger  btn-sm"
                                              >
                                                <i class="icofont-ui-delete size-18 "></i>
                                              </button>

                                              </div>
                                        </td>
                                      </tr>
                                    </ng-container>

                                    <ng-container *ngIf="!vehicules?.length">
                                        <tr>
                                          <td colspan="11" class="text-center">
                                            Aucune données trouver
                                          </td>
                                        </tr>
                                      </ng-container>
                            </tbody>
                          </table>
                        </div>
                      </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="mb-3 mt-2" *ngIf="paramsPage && paramsPage.totalItems != 0">
                <div class="d-inline ml-5" style="font-size: 13px" >
                  Affiche {{ paramsPage.from ? paramsPage.from : 1 }} à {{ paramsPage.to }} de
                  {{ paramsPage.totalItems }} entrées
                </div>
                <div class="d-inline float-right">
                  <ngb-pagination
                    [pageSize]="paramsPage.itemsPerPage"
                    [collectionSize]="paramsPage.totalItems"
                    [maxSize]="5"
                    [(page)]="paramsPage.currentPage"
                    (pageChange)="getPage($event)"
                  >
                    <ng-template ngbPaginationFirst>First</ng-template>
                    <ng-template ngbPaginationLast>Last</ng-template>
                    <ng-template ngbPaginationPrevious>Prev</ng-template>
                    <ng-template ngbPaginationNext>Next</ng-template>
                  </ngb-pagination>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    <!-- ROW-4 END -->


    <div
      class="modal fade"
      id="createModal"
      tabindex="-1"
      aria-labelledby="createModal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg ">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createModal">Ajouter un vehicule</h5>
          </div>
          <div class="modal-body">
            <form class="form-row" [formGroup]="editForm" >
              <div class="col-md-6">
                <div class="form-group">
                  <label for="libelleVehicule" class="col-form-label"
                  >Nom vehicule <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    [ngClass]="{ 'is-invalid': submitted && f.libelleVehicule.errors }"
                    class="form-control"
                    id="libelleVehicule"
                    placeholder="nom du vehicule"
                    formControlName="libelleVehicule"
                  />
                </div>

                <div *ngIf="submitted && f.libelleVehicule.errors" class="invalid-feedback">
                  <div *ngIf="f.libelleVehicule.errors.required">name is required</div>
                  <!-- <div *ngIf="f.libelleVehicule.errors.minlength">
                    name must be at least 3 characters
                  </div> -->
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="numeroIdentifiant" class="col-form-label"
                  >Numero identifiant <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    [ngClass]="{ 'is-invalid': submitted && f.numeroIdentifiant.errors }"
                    class="form-control"
                    id="numeroIdentifiant"
                    placeholder="Numero identifiant"
                    formControlName="numeroIdentifiant"
                  />
                </div>

                <div *ngIf="submitted && f.numeroIdentifiant.errors" class="invalid-feedback">
                  <div *ngIf="f.numeroIdentifiant.errors.required">numero identifiant required</div>
                  <!-- <div *ngIf="f.numeroIdentifiant.errors.minlength">
                    name must be at least 3 characters
                  </div> -->
                </div>
              </div>



              <div class="col-md-6">
                <div class="form-group">
                  <label for="immatriculation" class="col-form-label"
                  >Immatriculation vehicule <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    [ngClass]="{ 'is-invalid': submitted && f.immatriculation.errors }"
                    class="form-control"
                    id="immatriculation"
                    placeholder="nom du vehicule"
                    formControlName="immatriculation"
                  />
                </div>

                <div *ngIf="submitted && f.immatriculation.errors" class="invalid-feedback">
                  <div *ngIf="f.immatriculation.errors.required">immatriculation is required</div>
                  <!-- <div *ngIf="f.immatriculation.errors.minlength">
                    name must be at least 3 characters
                  </div> -->
                </div>
              </div>



              <div class="col-md-6">
                <div class="form-group">
                  <label for="carteGrise" class="col-form-label"
                  >carte Grise vehicule <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    [ngClass]="{ 'is-invalid': submitted && f.carteGrise.errors }"
                    class="form-control"
                    id="carteGrise"
                    placeholder="carte Grise du vehicule"
                    formControlName="carteGrise"
                  />
                </div>

                <div *ngIf="submitted && f.carteGrise.errors" class="invalid-feedback">
                  <div *ngIf="f.carteGrise.errors.required">carte Grise is required</div>
                  <!-- <div *ngIf="f.carteGrise.errors.minlength">
                    name must be at least 3 characters
                  </div> -->
                </div>
              </div>




              <div class="col-md-6">
                <div class="form-group">
                  <label for="nombrePlace" class="col-form-label"
                  >nombre Place vehicule <span class="text-danger">*</span></label
                  >
                  <input
                    type="number"
                    [ngClass]="{ 'is-invalid': submitted && f.nombrePlace.errors }"
                    class="form-control"
                    id="nombrePlace"
                    placeholder="nom du vehicule"
                    formControlName="nombrePlace"
                  />
                </div>

                <div *ngIf="submitted && f.nombrePlace.errors" class="invalid-feedback">
                  <div *ngIf="f.nombrePlace.errors.required">nombre Place is required</div>
                  <!-- <div *ngIf="f.nombrePlace.errors.minlength">
                    name must be at least 3 characters
                  </div> -->
                </div>
              </div>




              <div class="col-md-6">
                <div class="form-group">
                  <label for="longueurVehicule" class="col-form-label"
                  >longueur Vehicule  <span class="text-danger">*</span></label
                  >
                  <input
                    type="number"
                    [ngClass]="{ 'is-invalid': submitted && f.longueurVehicule.errors }"
                    class="form-control"
                    id="longueurVehicule"
                    placeholder="longueur du vehicule"
                    formControlName="longueurVehicule"
                  />
                </div>

                <div *ngIf="submitted && f.longueurVehicule.errors" class="invalid-feedback">
                  <div *ngIf="f.longueurVehicule.errors.required">longueur Vehicule is required</div>
                  <!-- <div *ngIf="f.longueurVehicule.errors.minlength">
                    name must be at least 3 characters
                  </div> -->
                </div>
              </div>


              <div class="col-md-6">
                <div class="form-group">
                  <label for="carburant"
                    >Type Carburant<span class="text-danger">*</span></label
                  >
                  <select
                    id="sexe"
                    class="form-control"
                    formControlName="carburant"
                    [ngClass]="{ 'is-invalid': submitted && f.carburant.errors }"
                  >
                    <option selected="selected" value="">---</option>
                    <option [value]="TYPECARBURANT.ESSENCE">Essence</option>
                    <option [value]="TYPECARBURANT.GAZOLE">Gazole</option>
                    <option [value]="TYPECARBURANT.DIHYDROGENE">Dihydrogene</option>
                    <option [value]="TYPECARBURANT.KEROSENE">Kerosene</option>
                    <option [value]="TYPECARBURANT.GPL">GPL</option>
                  </select>
                  <div
                    *ngIf="submitted && f.carburant.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.carburant.errors.required">Champ requis</div>
                  </div>
                </div>
              </div>


              <div class="col-md-6">
                <div class="form-group">
                  <label for="dureeVie" class="col-form-label"
                  >duree de Vie du vehicule <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    [ngClass]="{ 'is-invalid': submitted && f.dureeVie.errors }"
                    class="form-control"
                    id="dureeVie"
                    placeholder="duree de Vie du vehicule"
                    formControlName="dureeVie"
                  />
                </div>

                <div *ngIf="submitted && f.dureeVie.errors" class="invalid-feedback">
                  <div *ngIf="f.dureeVie.errors.required">duree de Vie is required</div>
                  <!-- <div *ngIf="f.dureeVie.errors.minlength">
                    name must be at least 3 characters
                  </div> -->
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="marque" class="col-form-label"
                  >marque du vehicule <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    [ngClass]="{ 'is-invalid': submitted && f.marque.errors }"
                    class="form-control"
                    id="marque"
                    placeholder="marque du vehicule"
                    formControlName="marque"
                  />
                </div>

                <div *ngIf="submitted && f.marque.errors" class="invalid-feedback">
                  <div *ngIf="f.marque.errors.required">marque is required</div>
                  <!-- <div *ngIf="f.dureeVie.errors.minlength">
                    name must be at least 3 characters
                  </div> -->
                </div>
              </div>



              <div class="col-md-6">
                <div class="form-group">
                  <label for="dateMiseCirculation" class="col-form-label"
                  >date mise en circulation  <span class="text-danger">*</span></label
                  >
                  <input
                    type="date"
                    [ngClass]="{ 'is-invalid': submitted && f.dateMiseCirculation.errors }"
                    class="form-control"
                    id="dateMiseCirculation"
                    placeholder="date Mise Circulation du vehicule"
                    formControlName="dateMiseCirculation"
                  />
                </div>

                <div *ngIf="submitted && f.dateMiseCirculation.errors" class="invalid-feedback">
                  <div *ngIf="f.dateMiseCirculation.errors.required">date Mise Circulation is required</div>
                  <!-- <div *ngIf="f.dateMiseCirculation.errors.minlength">
                    name must be at least 3 characters
                  </div> -->
                </div>
              </div>




              <div class="col-md-6">
                <div class="form-group">
                  <label for="delaiAlerte" class="col-form-label"
                  >delais d'Alerte <span class="text-danger">*</span></label
                  >
                  <input
                    type="number"
                    [ngClass]="{ 'is-invalid': submitted && f.delaiAlerte.errors }"
                    class="form-control"
                    id="delaiAlerte"
                    placeholder="delai Alerte du vehicule"
                    formControlName="delaiAlerte"
                  />
                </div>

                <div *ngIf="submitted && f.delaiAlerte.errors" class="invalid-feedback">
                  <div *ngIf="f.delaiAlerte.errors.required">delai Alerte is required</div>
                  <!-- <div *ngIf="f.delaiAlerte.errors.minlength">
                    name must be at least 3 characters
                  </div> -->
                </div>
              </div>
              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label for="impact" class="col-form-label"
                  >incident Impact<span class="text-danger">*</span></label
                  >


                  <select
                  [ngClass]="{ 'is-invalid': submitted && f.impact.errors }"
                  class="form-control"
                  id="impact"
                   formControlName="impact">
                    <option value="">selected Impact</option>
                    <ng-container *ngIf="claims">
                    <option *ngFor="let city of claims" [ngValue]="city" >{{city}}
                    </option>
                  </ng-container>
                 </select>


                </div>
                <div
                  *ngIf="submitted && f.impact.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.impact.errors.required">impact is required</div>
                </div>
              </div> -->

              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label for="owner" class="col-form-label"
                    >incident Owner</label
                  >


                  <select
                  [ngClass]="{ 'is-invalid': submitted && f.Owner.errors }"
                  class="form-control"
                  id="owner"
                   formControlName="owner">
                    <option value="">QUALITY  MANAGER</option>
                    <ng-container *ngIf="priorities">
                    <option *ngFor="let city of priorities" [ngValue]="city" >{{city}}
                    </option>
                  </ng-container>
                 </select>

                </div>
                <div
                  *ngIf="submitted && f.Owner.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.Owner.errors.required">Owner is required</div>
                </div>
              </div> -->


              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label for="assign" class="col-form-label"
                    >Assign to</label
                  >
                  <select
                    [ngClass]="{ 'is-invalid': submitted && f.Assign.errors }"
                    class="form-control"
                    id="assign"
                    formControlName="assign"
                  >
                    <option value="" >INCIDENT MANAGER</option>
                    <ng-container *ngIf="incidents">
                      <option [value]="p.name" *ngFor="let p of incidents">
                        {{ p.name }}
                      </option>
                    </ng-container>
                  </select>
                </div>
                <div
                  *ngIf="submitted && f.Assign.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.Assign.errors.required">Assign is required</div>
                </div>
              </div> -->


              <!-- <div class="form-group col-md-12">
                <label for="description"
                >incident Description<span class="text-danger">*</span></label
                >
                <textarea
                  [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
                  id="description"
                  class="form-control"
                  formControlName="description"
                  rows="3"
                >
                </textarea>
                <div
                  *ngIf="submitted && f.description.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.description.errors.required">
                    description is required
                  </div>
                  <div *ngIf="f.description.errors.minlength">
                    description must be at least 15 characters
                  </div>
                </div>
              </div> -->
            </form>
          </div>

          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-default" (click)="save()">
              close
            </button> -->
            <span></span>
            <button type="button" class="btn btn-success" (click)="save()">
              Creé
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- form for update vehicule -->

    <div
    class="modal fade"
    id="updateModal"
    tabindex="-1"
    aria-labelledby="updateModal"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModal">Modifier un vehicule</h5>
        </div>
        <div class="modal-body" *ngIf="VehiculeUpdate">
          <form class="form-row" [formGroup]="updateVehiculeForm" >
            <div class="col-md-6">
              <div class="form-group">
                <label for="libelleVehicule" class="col-form-label"
                >Nom vehicule <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  [ngClass]="{ 'is-invalid': submittedUpdate && f1.libelleVehicule.errors }"
                  class="form-control"
                  id="libelleVehicule"
                  placeholder="nom du vehicule"
                  formControlName="libelleVehicule"
                />
              </div>

              <div *ngIf="submittedUpdate && f1.libelleVehicule.errors" class="invalid-feedback">
                <div *ngIf="f1.libelleVehicule.errors.required">name is required</div>
                 <div *ngIf="f.libelleVehicule.errors.minlength">
                  name must be at least 3 characters
                </div> 
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="numeroIdentifiant" class="col-form-label"
                >Numero identifiant <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  [ngClass]="{ 'is-invalid': submittedUpdate && f1.numeroIdentifiant.errors }"
                  class="form-control"
                  id="numeroIdentifiant"
                  placeholder="Numero identifiant"
                  formControlName="numeroIdentifiant"
                />
              </div>

              <div *ngIf="submittedUpdate && f1.numeroIdentifiant.errors" class="invalid-feedback">
                <div *ngIf="f1.numeroIdentifiant.errors.required">numero identifiant required</div>
                 <div *ngIf="f.numeroIdentifiant.errors.minlength">
                  name must be at least 3 characters
                </div> 
              </div>
            </div>



            <div class="col-md-6">
              <div class="form-group">
                <label for="immatriculation" class="col-form-label"
                >Immatriculation vehicule <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  [ngClass]="{ 'is-invalid': submittedUpdate && f1.immatriculation.errors }"
                  class="form-control"
                  id="immatriculation"
                  placeholder="nom du vehicule"
                  formControlName="immatriculation"
                />
              </div>

              <div *ngIf="submittedUpdate && f1.immatriculation.errors" class="invalid-feedback">
                <div *ngIf="f1.immatriculation.errors.required">immatriculation is required</div>
                 <div *ngIf="f.immatriculation.errors.minlength">
                  name must be at least 3 characters
                </div> 
              </div>
            </div>



            <div class="col-md-6">
              <div class="form-group">
                <label for="carteGrise" class="col-form-label"
                >carte Grise vehicule <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  [ngClass]="{ 'is-invalid': submittedUpdate && f1.carteGrise.errors }"
                  class="form-control"
                  id="carteGrise"
                  placeholder="carte Grise du vehicule"
                  formControlName="carteGrise"
                />
              </div>

              <div *ngIf="submittedUpdate && f1.carteGrise.errors" class="invalid-feedback">
                <div *ngIf="f1.carteGrise.errors.required">carte Grise is required</div>
                 <div *ngIf="f.carteGrise.errors.minlength">
                  name must be at least 3 characters
                </div> 
              </div>
            </div>




            <div class="col-md-6">
              <div class="form-group">
                <label for="nombrePlace" class="col-form-label"
                >nombre Place vehicule <span class="text-danger">*</span></label
                >
                <input
                  type="number"
                  [ngClass]="{ 'is-invalid': submittedUpdate && f1.nombrePlace.errors }"
                  class="form-control"
                  id="nombrePlace"
                  placeholder="nom du vehicule"
                  formControlName="nombrePlace"
                />
              </div>

              <div *ngIf="submittedUpdate && f1.nombrePlace.errors" class="invalid-feedback">
                <div *ngIf="f1.nombrePlace.errors.required">nombre Place is required</div>
                 <div *ngIf="f.nombrePlace.errors.minlength">
                  name must be at least 3 characters
                </div> 
              </div>
            </div>




            <div class="col-md-6">
              <div class="form-group">
                <label for="longueurVehicule" class="col-form-label"
                >longueur Vehicule  <span class="text-danger">*</span></label
                >
                <input
                  type="number"
                  [ngClass]="{ 'is-invalid': submittedUpdate && f1.longueurVehicule.errors }"
                  class="form-control"
                  id="longueurVehicule"
                  placeholder="longueur du vehicule"
                  formControlName="longueurVehicule"
                />
              </div>

              <div *ngIf="submittedUpdate && f1.longueurVehicule.errors" class="invalid-feedback">
                <div *ngIf="f1.longueurVehicule.errors.required">longueur Vehicule is required</div>
                 <div *ngIf="f.longueurVehicule.errors.minlength">
                  name must be at least 3 characters
                </div> 
              </div>
            </div>


            <div class="col-md-6">
              <div class="form-group">
                <label for="carburant"
                  >Type Carburant<span class="text-danger">*</span></label
                >
                <select
                  id="sexe"
                  class="form-control"
                  formControlName="carburant"
                  [ngClass]="{ 'is-invalid': submittedUpdate && f.carburant.errors }"
                >
                  <option selected="selected" value="">---</option>
                  <option [value]="TYPECARBURANT.ESSENCE">Essence</option>
                  <option [value]="TYPECARBURANT.GAZOLE">Gazole</option>
                  <option [value]="TYPECARBURANT.DIHYDROGENE">Dihydrogene</option>
                  <option [value]="TYPECARBURANT.KEROSENE">Kerosene</option>
                  <option [value]="TYPECARBURANT.GPL">GPL</option>
                </select>
                <div
                  *ngIf="submittedUpdate && f1.carburant.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f1.carburant.errors.required">Champ requis</div>
                </div>
              </div>
            </div>


            <div class="col-md-6">
              <div class="form-group">
                <label for="dureeVie" class="col-form-label"
                >duree de Vie du vehicule <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  [ngClass]="{ 'is-invalid': submittedUpdate && f1.dureeVie.errors }"
                  class="form-control"
                  id="dureeVie"
                  placeholder="duree de Vie du vehicule"
                  formControlName="dureeVie"
                />
              </div>

              <div *ngIf="submittedUpdate && f1.dureeVie.errors" class="invalid-feedback">
                <div *ngIf="f1.dureeVie.errors.required">duree de Vie is required</div>
                <div *ngIf="f.dureeVie.errors.minlength">
                  name must be at least 3 characters
                </div> 
              </div>
            </div>



            <div class="col-md-6">
              <div class="form-group">
                <label for="marque" class="col-form-label"
                >marque du vehicule <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  [ngClass]="{ 'is-invalid': submittedUpdate && f1.marque.errors }"
                  class="form-control"
                  id="marque"
                  placeholder="marque du vehicule"
                  formControlName="marque"
                />
              </div>

              <div *ngIf="submittedUpdate && f1.marque.errors" class="invalid-feedback">
                <div *ngIf="f.marque.errors.required">marque is required</div>
                 <div *ngIf="f.dureeVie.errors.minlength">
                  name must be at least 3 characters
                </div> 
              </div>
            </div>



            <div class="col-md-6">
              <div class="form-group">
                <label for="dateMiseCirculation" class="col-form-label"
                >date mise en circulation  <span class="text-danger">*</span></label
                >
                <input
                  type="date"
                  [ngClass]="{ 'is-invalid': submittedUpdate && f1.dateMiseCirculation.errors }"
                  class="form-control"
                  id="dateMiseCirculation"
                  placeholder="date Mise Circulation du vehicule"
                  formControlName="dateMiseCirculation"
                />
              </div>

              <div *ngIf="submittedUpdate && f1.dateMiseCirculation.errors" class="invalid-feedback">
                <div *ngIf="f1.dateMiseCirculation.errors.required">date Mise Circulation is required</div>
                 <div *ngIf="f1.dateMiseCirculation.errors.minlength">
                  name must be at least 3 characters
                </div> 
              </div>
            </div>




            <div class="col-md-6">
              <div class="form-group">
                <label for="delaiAlerte" class="col-form-label"
                >delais d'Alerte <span class="text-danger">*</span></label
                >
                <input
                  type="number"
                  [ngClass]="{ 'is-invalid': submittedUpdate && f1.delaiAlerte.errors }"
                  class="form-control"
                  id="delaiAlerte"
                  placeholder="delai Alerte du vehicule"
                  formControlName="delaiAlerte"
                />
              </div>

              <div *ngIf="submittedUpdate && f1.delaiAlerte.errors" class="invalid-feedback">
                <div *ngIf="f1.delaiAlerte.errors.required">delai Alerte is required</div>
                 <div *ngIf="f1.delaiAlerte.errors.minlength">
                  name must be at least 3 characters
                </div> 
              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="form-group">
                <label for="impact" class="col-form-label"
                >incident Impact<span class="text-danger">*</span></label
                >


                <select
                [ngClass]="{ 'is-invalid': submitted && f.impact.errors }"
                class="form-control"
                id="impact"
                 formControlName="impact">
                  <option value="">selected Impact</option>
                  <ng-container *ngIf="claims">
                  <option *ngFor="let city of claims" [ngValue]="city" >{{city}}
                  </option>
                </ng-container>
               </select>


              </div>
              <div
                *ngIf="submitted && f.impact.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.impact.errors.required">impact is required</div>
              </div>
            </div> -->

            <!-- <div class="col-md-6">
              <div class="form-group">
                <label for="owner" class="col-form-label"
                  >incident Owner</label
                >


                <select
                [ngClass]="{ 'is-invalid': submitted && f.Owner.errors }"
                class="form-control"
                id="owner"
                 formControlName="owner">
                  <option value="">QUALITY  MANAGER</option>
                  <ng-container *ngIf="priorities">
                  <option *ngFor="let city of priorities" [ngValue]="city" >{{city}}
                  </option>
                </ng-container>
               </select>

              </div>
              <div
                *ngIf="submitted && f.Owner.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.Owner.errors.required">Owner is required</div>
              </div>
            </div> -->


            <!-- <div class="col-md-6">
              <div class="form-group">
                <label for="assign" class="col-form-label"
                  >Assign to</label
                >
                <select
                  [ngClass]="{ 'is-invalid': submitted && f.Assign.errors }"
                  class="form-control"
                  id="assign"
                  formControlName="assign"
                >
                  <option value="" >INCIDENT MANAGER</option>
                  <ng-container *ngIf="incidents">
                    <option [value]="p.name" *ngFor="let p of incidents">
                      {{ p.name }}
                    </option>
                  </ng-container>
                </select>
              </div>
              <div
                *ngIf="submitted && f.Assign.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.Assign.errors.required">Assign is required</div>
              </div>
            </div> -->


            <!-- <div class="form-group col-md-12">
              <label for="description"
              >incident Description<span class="text-danger">*</span></label
              >
              <textarea
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
                id="description"
                class="form-control"
                formControlName="description"
                rows="3"
              >
              </textarea>
              <div
                *ngIf="submitted && f.description.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.description.errors.required">
                  description is required
                </div>
                <div *ngIf="f.description.errors.minlength">
                  description must be at least 15 characters
                </div>
              </div>
            </div> -->
          </form>
        </div>

        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" (click)="save()">
            close
          </button> -->
          <span></span>
          <button type="button" class="btn btn-success" (click)="update()">
           Update vehicule
          </button>
        </div>
      </div>
    </div>
  </div>

   <!-- Modal -->
 <div
 class="modal fade"
 id="exampleModal"
 tabindex="-1"
 aria-labelledby="exampleModalLabel"
 aria-hidden="true"
 >
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">Detail</h5>
       <button
         type="button"
         class="close"
         data-dismiss="modal"
         aria-label="Close"
       >
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body" *ngIf="showVehicule">
      <div><p>Nom du vehicule: <strong>{{showVehicule.libelleVehicule }}</strong></p></div>
      <div><p>Immatriculation du vehicule: <strong>{{showVehicule.immatriculation }}</strong></p></div>
      <div><p>Longueur du vehicule: <strong>{{showVehicule.longueurVehicule }}</strong></p></div>
      <div><p> Nombre du vehicule: <strong>{{showVehicule.nombrePlace }}</strong></p></div>
      <div><p>Numero d'identifiant vehicule: <strong>{{showVehicule.numeroIdentifiant }}</strong></p></div>
      <div><p>Date de mise en circulation du vehicule: <strong>{{showVehicule.dateMiseCirculation }}</strong></p></div>
      <div><p>delais d'alerte du vehicule: <strong>{{showVehicule.delaiAlerte }}</strong></p></div>
      <div><p> duree de vie du vehicule: <strong>{{showVehicule.dureeVie }}</strong></p></div>
      <div><p>carte grise du vehicule: <strong>{{showVehicule.carteGrise }}</strong></p></div>

     </div>

     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">
         Close
       </button>
     </div>
   </div>
 </div>
 </div>

 <app-confirm-modal
 (actionConfirm)="deleteVehicule($event)"
></app-confirm-modal>
 

 <ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
></ngx-loading>

