<div class="row justify-content-center">
  <div class="col-md-8 mt-5">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Jour de travail</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form class="form-horizontal" [formGroup]="editForm">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <!-- checkbox -->
              <div class="form-group">
                <div class="row justify-content-center" *ngIf="workings">
                  <div class="col-md-8 mt-5">
                    <div class="card card-default">
                      <div class="card-header">
                        <h3 class="card-title">Jour de travail</h3>
                      </div>
                      <!-- /.card-header -->
                      <!-- form start -->
                      <form class="form-horizontal" [formGroup]="editForm">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-6">
                              <!-- checkbox -->
                              <div class="form-group">
                                <div
                                  class="form-check"
                                  *ngFor="let d of workings; let i = index"
                                >
                                  <input
                                    [checked]="d.status === STATUS.ENABLE"
                                    class="form-check-input"
                                    type="checkbox"
                                    [value]="d.id"
                                    id="{{ i }}"
                                    (change)="onCheckboxChange($event)"
                                  />
                                  <label class="form-check-label" for="{{ i }}">
                                    {{ d.name }}</label
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                          <button
                            type="button"
                            class="btn btn-info float-right"
                            (click)="save()"
                          >
                            Enregigtrer
                          </button>
                        </div>
                        <!-- /.card-footer -->
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <ngx-loading
              [show]="loading"
              [config]="{ backdropBorderRadius: '3px' }"
            ></ngx-loading>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
