<div class="receipt-content">
  <div class="container bootstrap snippets bootdey">
    <div class="row">
      <div class="col-md-12">
        <div class="invoice-wrapper" #content>
          <h4 class="text-center">CONTRAT DE TRAVAIL</h4>
          Entre les soussignés :La société (structure juridique, dénomination
          sociale, n° de registre du commerce et des sociétés, capital)
          domiciliée (adresse) Représentée par Monsieur/ Madame (nom, prénom),
          agissant en qualité de (fonction, par exemple « gérant »), d’une part,
          et Monsieur/ Madame (nom, prénom du salarié) domicilié(e) (adresse),
          né(e) le (date de naissance), de nationalité (…), d’autre part, Il a
          été convenu ce qui suit : Article I – Motif du contrat M. / Mme (…)
          est engagé(e) à partir du (date d’embauche précise) par l’entreprise
          afin d’assurer le remplacement temporaire d’un salarié absent pour
          cause de (préciser le motif de l’absence et la qualification du
          salarié absent). Ce motif justifie la durée déterminée de ce
          remplacement, il porte sur la fonction suivante : (intitulé). Il aura
          pour mission de (descriptif). Article II – Durée du contrat Le présent
          contrat prend effet le (jour/mois/année) à (…) heures, il est conclu
          pour une durée de (…) et prendra fin le (jour/mois/année) à (…)
          heures. Article III – Période d’essai Ce contrat s’accompagne d’une
          période d’essai de (durée) durant laquelle la rupture du contrat
          pourra intervenir à l’initiative de chaque partie en respectant le
          délai de prévenance légale, sans indemnité ni motif. Article IV –
          Renouvellement du contrat Ce contrat à durée déterminée peut être
          renouvelé une seule fois pour une durée n’excédant pas (durée légale
          ou conventionnelle), si les deux parties y consentent. Le délai de
          prévenance à respecter est de (….) jours avant le terme du contrat
          initial. Article V – Congés payés M. /Mme (…) bénéficiera de congés
          payés selon les conditions fixées par disposition légale ou
          conventionnelle. Si à l’échéance de la période de congés payés, le
          salarié n’a pas soldé ses droits à congés payés, il percevra une
          indemnité compensatrice. Article VI – Durée du travail Les horaires de
          travail à respecter sont ceux en vigueur dans la société, pour une
          durée hebdomadaire de (…) heures. Article VII – Rémunération M. / Mme
          (nom, prénom) percevra chaque fin de mois civil une rémunération brute
          de (…) euros. A la fin du contrat, lui sera versée une indemnité de
          fin de contrat aux conditions fixées par la convention collective en
          vigueur dans l’entreprise. Article VIII – Réglement intérieur Par ce
          contrat, M. /Mme (…) s’engage à respecter le règlement intérieur de
          l’entreprise qui l’emploie. Article IX – Lieu de travail Le lieu de
          travail de M. /Mme (…) est situé à (lieu). Article X – Convention
          Collective Pour les dispositions ne figurant pas dans le contrat de
          travail, se référer à la convention collective applicable à
          l’entreprise : (préciser son intitulé). Article XI – Caisse de
          retraite La caisse de retraite complémentaire est (nom de
          l’organisme), l’organisme de prévoyance est (nom de l’organisme).
          Article XII – Déclaration Unique d’Embauche Déclaration préalable à
          l’embauche. L’employeur a la responsabilité d’effectuer la Déclaration
          Unique d’Embauche à l’URSSAF de (lieu). L’entreprise y est
          immatriculée sous le numéro (…). Fait en double exemplaire à … (lieu),
          le … (date) Signature de l’employeur, Signature du salarié, précédée
          de la mention « lu et approuvé » : précédée de la mention « lu et
          approuvé » :
        </div>
        <div class="row my-3">
          <div class="col-12">
            <button (click)="generarPDF()" class="btn btn-danger btn-sm">
              <i class="fa fa-print"></i>
              telecharger
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
