<div style="text-align: center; " class="mb-5">
    <h1>Rechercher un produit</h1>   
</div>

<div class="col-sm-3 mx-auto">
    <label class="sr-only" for="inlineFormInputName">Name</label>
    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Entrer un nom de produit" [formControl]="name">
</div>

<div style="text-align: center;">
    <button type="submit" class="btn btn-primary mt-2" (click)="getElement()">Submit</button>
</div>

<table class="table">
    <thead class="thead-light">
      <tr>
        
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Slug</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of product; index as i">
        
        <td>{{x.name}}</td>
        <td>{{x.description}}</td>
        <td>{{x.price}}</td>
        <td>{{x.slug}}</td>
        <td>
          
        </td>
      </tr>
    </tbody>
  </table>
