#tab{
    border-style: outset;
    border-style: solid;
    border-color: rgb(151, 153, 156);
    border: 2px solid rgb(151, 153, 156);
    border-radius: 10px;
    padding: 5px;
    width: 22%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

#row1,#row2,#row3,#row4{
    margin-left: auto;
}

#item1{
    border-radius: 10px;
    height: 50%;
    
}

#text1{
    margin-top: 10px;
    color:rgb(55, 162, 224);
}


